<%= form_for wiki do |f| %>
  <% if wiki.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(wiki.errors.count, "error") %>.</h4>
      <ul>
        <% wiki.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter title" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 24, class: 'form-control', placeholder: "Enter wiki text here" %>
  </div>
  <% if current_user.admin? || current_user.premium? %>
    <div class="form-group private-check">
      <%= f.label :private, class: 'checkbox' do %>
        <%= f.check_box :private %> Private topic?
      <% end %>
    </div>
  <% end %>
  <%= f.submit "Save", class: 'btn btn-success' %>
<% end %>
