<h1>
  <%= @wiki.title %>
</h1>

<div class="panel panel-default">
  <div class="panel-body"><%= markdown(@wiki.body) %></div>
</div>

<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-4">
    <% if user_signed_in? %>
    <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-warning' %>
    <% if current_user.admin? || current_user == @wiki.user %>
    <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
    <% end %>
    <% if @wiki.private == true && current_user == @wiki.user %>
    <%= link_to "Add Collaborators", new_wiki_collaborator_path(@wiki), class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-md-3"></div>
</div>

<% if user_signed_in? && (@wiki.private == true && current_user == @wiki.user) %>
<h2>Collaborators</h2>
<% if @wiki.collaborators.count == 0 %>
<small> There are no collaborators on this wiki </small>
<% else %>
<%= render @wiki.collaborators %>
<% end %>
<% end %>
<% end %>
